div:hover{
  background: linear-gradient(to bottom right, blue,pink);
  border-radius: 40px;
  transition: 10s;
  width: 50px;
  height:100px;
}

header:hover {
  transition: 4s;
  background-color: lightcoral;
}